
<% binding.pry %>
<%= @impression.user.nickname %>さんの脱レポ
<%= render "impressions/recipe_about" %>

<p>脱レポ</p>
<%= attachment_image_tag @impression, :image, fallback: "no-image-recipe.png" %>
<%= @impression.impression %>
 <p >by <small><%= link_to  impression.user.nickname,user_path(impression.user) %></small>
<%= attachment_image_tag impression.user, :image, :fill, 30, 30, fallback: "no-image-icon.png" %></p>

<%if @impression.reply_comment.present? %>
  <%= @impression.reply_comment %>
   <p >by <small><%= link_to  @recipe.user,user_path(@recipe.user) %></small>
  <%= attachment_image_tag  @recipe.user, :image, :fill, 30, 30, fallback: "no-image-icon.png" %></p>
<% end %>

<% if @impression.user == current_user %>
  <% link_to "脱レポを修正する", edit_recipe_impression_path(@recipe,@impression) %>
  <% link_to "脱レポを削除する", recipe_impression_path(@recipe,@impression),data: {confirm: '本当に削除しますか？'}, method: :delete %>
<% elsif @recipe.user == current_user %>
  <%= form_with model: [@recipe,@impression] , url: recipe_impression_path(@recipe,@impression) ,local: true do |f| %>
     <%= f.label :reply_comment, "返信コメント"%>
     <%= f.text_area :reply_comment,:size =>"300", class: "form-control"%>
     <%= f.submit '脱レポを送る'%>
  <% end %>
<% end %>

<%= link_to "脱レポ一覧へ戻る", recipe_impressions_path(@recipe) %>

