
  <head>
     <%= javascript_include_tag 'recipe_form' %>

  </head>

<div class="row">
	<div class="col-md-10 col-sm-10">
    <%= form_with model: @recipe , url: recipes_path ,local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :name, "レシピ名"%>
    　<%= f.text_field :name,:size =>"100", class: "form-control"%>
  </div>
</div>

<div class="row">
	<div class="col-md-3 col-sm-3">
  　<div class="recipe_image">
  　     <%#=---プレビュー画像--%>
          <%= attachment_image_tag @recipe, :image, fallback: "no-image-recipe.png", id: "img_prev", style: "height: 200px; width:200px;" %>
          <br>
          <%= f.attachment_field :image %>
     </div>
  </div>

  <div class="col-md-9 col-sm-9 mt-2">
      　<%= f.label :introduction, "料理紹介"%>
      　<%= f.text_area :introduction, :size => "72", class: "form-control"%>
        <%= f.label :tag_list, "タグ"%>
        <%= f.text_field :tag_list, value: @recipe.tag_list.join(','), class: "form-control"%>

    <%#----------材料の項目----------------%>
    <div class ="materials mt-2">
      <%= f.fields_for :materials ,@recipe.materials.build do |t| %>
        <%#Materialsにrecipe_idを紐付け%>
        <%= t.hidden_field :recipe_id, value: @recipe.id %>
          <%= t.label :serving ,"材料・調味料（最大８種類まで）"%>
  　        <%= t.text_field :serving ,:size =>"10" %>人分
  　   <%#----------材料formのテンプレート----------------%>
          <%= render "recipes/material_fields", f: t %>
      <%#----------材料formを以下に追加----------------%>
          <div id="detail-association-insertion-point-material"></div>
     <%#----------材料formの追加ボタン----------------%>
          <%= link_to_add_association "+フォームを追加", f, :materials,
            class: "btn btn-secondary btn-block col-4 mt-2",
            data: {
            association_insertion_node: '#detail-association-insertion-point-material',
              }%>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="row">
   <div class="col-md-10 col-sm-10 offset-1 mt-4">
    <div id ="steps">
    <%#----------調理手順の項目----------------%>
    <h5>作り方（最大5ステップ）</h5>
      <%= f.fields_for :steps,@recipe.steps.build do |t| %>
        <%#Stepsにrecipe_idを紐付け%>
        <%= t.hidden_field :recipe_id, value: @recipe.id %>
     <%#----------調理手順formのテンプレート----------------%>
     <%= render "recipes/step_fields", f: t %>
     <%#----------調理手順formを以下に追加----------------%>
      <div id="detail-association-insertion-point-step"></div>
       <%#----------調理手順formの追加ボタン----------------%>
      <div class="col-10 mx-auto mt-2">
        <%= link_to_add_association "+フォームを追加", f, :steps,
        class: "btn btn-secondary btn-block col-3 col-4 mt-2",
        data: {
        association_insertion_node: '#detail-association-insertion-point-step',
        }%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
   <div class="col-md-10 col-sm-10 offset-1 mt-1">
      <%= f.label :note, "備考"%>
    　<%= f.text_area :note,:size =>"100",class: "form-control" %>
    </div>
</div>
<div class="row">
   <div class="col-md-10 col-sm-10 offset-1 mt-3">
       <%= f.submit '確認画面へ'%>
      <% end %>
  </div>
</div>

<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#post_post_image").change(function(){
    readURL(this);
  });
});
</script>
