
<div class="row">
	<div class="col-md-10 col-sm-10">

    　<%= @recipe.name%>
  </div>
  <!---お気に入り登録---->
  <span id="favorite_buttons_<%= @recipe.id %>">
    <%= render "favorites/favorite", recipe: @recipe %>
  </span>
</div>


<div class="row">
	<div class="col-md-3 col-sm-3">
  　<div class="recipe_image">
          <%= attachment_image_tag @recipe, :image, fallback: "no-image-recipe.png", id: "img_prev", style: "height: 200px; width:200px;" %>
     </div>
  </div>
  <div class="col-md-9 col-sm-9 mt-2">
      　<!---料理紹介--->
      　<%= @recipe.introduction%>
      　<!---タグ--->
      <% if @tags.present? %>
      <% @tags.each do |tag| %>
        <%= link_to "＃#{tag.name}", recipes_path(tag_name: tag.name) %>
      <% end %>
    <% end %>

    <div class ="materials mt-2">
          <h5>材料・調味料</h5>
            <%= @recipe.serving %>人分
  　       <table>
              <% @materials.each do |material| %>
  　         <tr>
            <td><%= material.name %></td>
            <td><%= material.quantity %></td>
  　         </tr>
  　         <% end %>
  　       </table>
  　   </div>
  </div>
 </div>


    <div class="row">
       <div class="col-md-10 col-sm-10 offset-1 mt-4">
          <div id ="steps">
            <h5>作り方</h5>
                <% @steps.each do |step|%>
                  <%= step.explanation %>
                <% end %>
      　   </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-sm-10 offset-1 mt-1">
          <h5>備考</h5>
        　  <%= @recipe.note %>
      </div>
    </div>

<h6>脱レポ</h6>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    脱レポを投稿する
  </button>
  <% if @impressions.exists? %>
    <%= render "impressions/index" %>
      <%= link_to ">>脱レポ投稿一覧へ",recipe_impressions_path(@recipe.id) %>
  <% else %>
       脱レポの投稿はまだありません
  <% end %>

<% if @recipe.user_id = current_user %>
  <%= link_to "レシピを編集する", edit_recipe_path(@recipe.id) %>
  <%= link_to "レシピを削除する", recipe_path(@recipe),data: {confirm: '本当に削除しますか？'}, method: :delete %>
<% end %>

<%= link_to "<< レシピ一覧へ",recipes_path %>

  <!-- モーダルの設定 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">脱レポを投稿</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div><!--/.modal-header -->
        <div class="modal-body">
           <%= form_with model: [@recipe,@impression] , url: recipe_impressions_path(@recipe.id) ,local: true do |f| %>
           <%= f.label :image, "作った料理画像 （任意）"%>
           <%= f.attachment_field :image %>
             <%= f.label :impression, "感想 (必須)"%>
              <%= f.text_area :impression,:size =>"300", class: "form-control"%>
          </div>
                  <div class="modal-footer">
                    <%= f.submit '脱レポを送る'%>
                     <% end %>
                    <%= link_to "レシピに戻る", recipe_path(@recipe)%>
                  </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->