
<div class="row">
	<div class="col-md-10 col-sm-10">
      <%#=レシピ名%>
    　<%= @recipe.name%>
  </div>
  <%#=お気に入り数%>
  <%#=お気に入り登録%>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
  　<div class="recipe_image">
          <%= attachment_image_tag @recipe, :image, fallback: "no-image-recipe.png", id: "img_prev", style: "height: 200px; width:200px;" %>
     </div>
  </div>
  <div class="col-md-9 col-sm-9 mt-2">
      　<%#=料理紹介%>
      　<%= @recipe.introduction%>
      　<%#=タグ%>
      <% if @tags.present? %>
      <% @tags.each do |tag| %>
        <%= link_to "＃#{tag.name}", tags_path(tag.name) %>
      <% end %>
    <% end %>

    <%#----------材料----------------%>
    <div class ="materials mt-2">
          <h5>材料・調味料</h5>
            <%= @recipe.serving %>人分
  　       <table>
              <% @materials.each do |material| %>
  　         <tr>
            <td><%= material.name %></td>
            <td><%= material.quantity %></td>
  　         </tr>
  　         <% end %>
  　       </table>
  　   </div>
  </div>
 </div>

<div class="row">
   <div class="col-md-10 col-sm-10 offset-1 mt-4">
    <div id ="steps">
          <h5>作り方</h5>
              <% @steps.each do |step|%>
              <%= step.explanation %>
  　         <% end %>
  　 </div>
    </div>
  </div>

<div class="row">
   <div class="col-md-10 col-sm-10 offset-1 mt-1">
      <h5>備考</h5>
    　<%= @recipe.note %>
    </div>
</div>

<%#=脱レポゾーン%>

<% if @recipe.user_id = current_user %>
  <%= link_to "レシピを編集する", edit_recipe_path(@recipe) %>
  <%= link_to "レシピを削除する", recipe_path(@recipe),data: {confirm: '本当に削除しますか？'}, method: :delete %>
<% end %>

<%= link_to "<< レシピ一覧へ",recipes_path %>