<div class="container">

  <div class="row">
    <div class="col-sm-12 mt-5">
      <h4>登録情報編集</h4>
    </div>
  </div>

  <div class="form-group row mt-5">
      <%= form_with(model: @user,local: true) do |f| %>
          <div class="form-group row form-inline">
            <%= f.label :last_name,"名前" ,class: "col-sm-4 col-form-label" %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" ,class: "form-control col-sm-3",placeholder: "姓",autfocus: true %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",placeholder: "名", class: "form-control col-sm-3 offset-1" %>
          </div>

          <div class="form-group row form-inline">
            <%= f.label :phone_number,"電話番号" ,class: "col-sm-4 col-form-label" %>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number",class: "form-control col-sm-8",placeholder: "ハイフンなし" %>
          </div>

          <div class="form-group row form-inline">
            <%= f.label :email,"メールアドレス",class: "col-sm-4 col-form-label"  %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control col-sm-8" %>
          </div>

           <div class="action col-sm-10 mt-5">
            <%= f.submit "登録情報を修正する" ,class: "btn btn-info"%>
            <%= link_to "キャンセル", user_path(@user) ,class: "btn btn-light ml-3"%>
          </div>
      <% end %>
  </div>

</div>