<div class="container-fluid m-3">
  <div class="row">
    <div class="col-12 mt-5">
          <h4>MyPage</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 mt-5 mx-auto text-center">
          <%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no-image-icon.png",class: "img-fluid") %>
          <div class="user_nickname mt-3 mb-2 font-weight-bold">
            <%= @user.nickname %>
          </div>
          <strong>＊＊＊</strong>
          <div class="user_introduction mt-1 mb-2">
            <%= @user.introduction %>
          </div>

          <div class="mymenu mt-5">
            <% if @user == current_user %>
              <div class="btn-group-vertical">
                  <div class="btn btn-info mb-2">
                    <%=link_to "プロフィール編集", profile_users_path(@user)%>
                  </div>
                  <div class="btn btn-info mb-2">
                    <%=link_to "登録情報を修正", edit_user_path(@user)%>
                  </div>
                  <div class="btn btn-danger mb-2">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,data: {confirm: '本当にログアウトしますか？'}%>
                  </div>
               </div>
             <% end %>
          </div>
      </div>

    <div class="col-lg-9 mr-2 mx-auto" >
      <ul class="nav nav-tabs justify-content-center text-center mt-5">
        <li class="mypage-nav-item">
          <a href="#contents1"  class="nav-link active mr-2" data-toggle="tab">投稿したレシピ</a>
        </li>
        <li class="mypage-nav-item">
          <a href="#contents2"  class="nav-link mr-2" data-toggle="tab">お気に入りレシピ</a>
        </li>
        <li class="mypage-nav-item">
          <a href="#contents3"  class="nav-link mr-2" data-toggle="tab">投稿した脱レポ</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="contents1" class="tab-pane active">
            <% if @recipes.present? %>
                  <%= render "recipes/recipe_cardgroup", recipes: @recipes %>
              <% else %>
               <p class="text-center mt-5"><i class="fa fa-cutlery" aria-hidden="true"></i>投稿したレシピはありません</p>
              <% end %>
          </div>
        <div id="contents2" class="tab-pane">
            <% if @favorite_recipes.present? %>
                <%= render "recipes/recipe_cardgroup", recipes: @favorite_recipes %>
              <% else %>
               <p class="text-center mt-5"><i class="fa fa-cutlery" aria-hidden="true"></i>お気に入り登録をしたレシピはありません</p>
              <% end %>
        </div>
        <div id="contents3" class="tab-pane">
            <% if @impressions.present? %>
                <%= render "impressions/index" %>
              <% else %>
               <p class="text-center mt-5"><i class="fa fa-cutlery" aria-hidden="true"></i>投稿した脱レポはありません</p>
              <% end %>
        </div>

        </div>





  </div>
</div>

  </div>
