<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-5">
      <h4>ログイン</h4>
    </div>
  </div>

  <div class="form-group row mt-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group row form-inline">
        <%= f.label :email,"メールアドレス",class: "col-sm-4 col-form-label"  %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control col-sm-8" %>
      </div>

      <div class="form-group row form-inline">
        <%= f.label :password ,class: "col-sm-4 col-form-label"  %>
        <%= f.password_field :password, autocomplete: "new-password",class: "form-control col-sm-8" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" ,class: "btn btn-info btn-block col-sm-9 mt-4 mb-2 "%>
      </div>
      <div class="messege mt-1">
       <small><%= link_to ">> 登録がお済みで無い方はこちら",  new_user_registration_path %></small>
      </div>
    <% end %>
  </div>
</div>
