
 <div class="border">
 <nav class="navbar navbar-expand-lg  p-2">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-brand ml-2">
            <%= link_to root_path do %>
            <%= image_tag 'logo.png', :size =>'140x100'%>
            <% end %>
        </li>
    <li class="nav-item mt-5 m-1"><small>手間と時間をかけないレシピがここにある</small></li>
     </ul>

     <div class="navbar-nav ml-auto mt-4 m-1">
      <div class="nav-item-search">
       <%= search_form_for @search , url: seachs_path do |f| %>
        <%= f.search_field :name_cont, placeholder: "レシピ名を検索", class: 'input', :size => 50 %>
         <%= f.submit '検索', :class => "btn search__button" %>
          <div class="icon">
            <i class="far fa-search"></i>
          </div>
          <% end %>
      </div>
     </div>

    <ul class="navbar-nav ml-auto mx-4 my-1 mr-5">
     <% if user_signed_in? %>
       <li class="nav-item-link">
        <%= link_to "ABOUT", about_path,class: "mx-4 my-1 mr-4"%>
      </li>
       <li class="nav-item-link">
        <%= link_to "レシピ投稿", new_recipe_path,class: "mx-4 my-1 mr-4" %>
      </li>
       <li class="nav-item-link">
        <%= link_to "マイページ", "/users/#{current_user.id}" ,class: "mx-4 my-1 mr-4"%>
      </li>


    <% else %>
       <li class="nav-item-link">
        <%= link_to "ABOUT", about_path ,class: "mx-4 my-1 mr-4" %>
      </li>
       <li class="nav-item-link">
        <%= link_to "新規登録", new_user_registration_path ,class: "mx-4 my-1 mr-4" %>
      </li>
       <li class="nav-item-link">
        <%= link_to "ログイン", new_user_session_path ,class: "mx-4 my-1 mr-4" %>
      </li>
    <% end %>
   </ul>

</nav>

</div>

