<!DOCTYPE html>
<html>
  <head>
    <title>脱力レシピ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c3fbb4b704.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div id="wrapper">
        <%= render "layouts/header"%>
    </div>
    <main>
     <div id="flash">
        <%= render "layouts/flash" %>
     </div>
     <div id="notify-modal" class="modal notify-modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <%= yield %>
    </main>
    <div class="footerFixed">　<%#CSSでフッター位置の調整%>
    <%= render "layouts/footer"%>
  </div>
  </body>
</html>
